@{
	ViewData["Title"] = "Sobre Mim";
}
<h1>@ViewData["Title"]</h1>

<div class="container py-2">

	<div class="card shadow-sm">

		<div class="row justify-content-between p-5">
			<div class="col-3 text-center">
				<img src="~/img/1378350.jpg" class="rounded-circle border-3 img-" width="200px" height="200px" />
			</div>

			<div class="col">
				<div class="card-title fw-bolder h3 font-monospace">Luan</div>
				<hr />
				<p class="card-text text-muted">Sou muitas vezes preguiçoso, mas sempre me esforço e faço meu melhor para atingir meus objetivos. Gosto de programação, mas não sou muito bom, tenho muito o que aprender. No futuro quero ser um criador de jogos, mas nunca é demais adquirir mais conhecimentos, acredito que aprendendizado nunca é demais.</p>
				<a href="https://github.com/Luan-Galera" class="text-decoration-none"><p><i class="bi bi-github"></i> GitHub</p></a>
			</div>

		</div>

	</div>

</div>
